<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>Code</key>
			<string>af</string>
			<key>Name</key>
			<string>Afrikaans</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sq</string>
			<key>Name</key>
			<string>Albanian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ar</string>
			<key>Name</key>
			<string>Arabic</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>be</string>
			<key>Name</key>
			<string>Belarusian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>bg</string>
			<key>Name</key>
			<string>Bulgarian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>zh-CN</string>
			<key>Name</key>
			<string>Chinese(Simplified)</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>zh-TW</string>
			<key>Name</key>
			<string>Chinese(Traditional)</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ca</string>
			<key>Name</key>
			<string>Catalan</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>hr</string>
			<key>Name</key>
			<string>Croatian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>cs</string>
			<key>Name</key>
			<string>Czech</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>da</string>
			<key>Name</key>
			<string>Danish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>nl</string>
			<key>Name</key>
			<string>Dutch</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>en</string>
			<key>Name</key>
			<string>English</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>et</string>
			<key>Name</key>
			<string>Estonian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>tl</string>
			<key>Name</key>
			<string>Filipino</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>fi</string>
			<key>Name</key>
			<string>Finnish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>fr</string>
			<key>Name</key>
			<string>French</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>gl</string>
			<key>Name</key>
			<string>Galician</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>de</string>
			<key>Name</key>
			<string>German</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>el</string>
			<key>Name</key>
			<string>Greek</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>he</string>
			<key>Name</key>
			<string>Hebrew</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>hi</string>
			<key>Name</key>
			<string>Hindi</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>hu</string>
			<key>Name</key>
			<string>Hungarian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>is</string>
			<key>Name</key>
			<string>Icelandic</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>id</string>
			<key>Name</key>
			<string>Indonesian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ga</string>
			<key>Name</key>
			<string>Irish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>it</string>
			<key>Name</key>
			<string>Italian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ja</string>
			<key>Name</key>
			<string>Japanese</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ko</string>
			<key>Name</key>
			<string>Korean</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>lv</string>
			<key>Name</key>
			<string>Latvian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>lt</string>
			<key>Name</key>
			<string>Lithuanian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>mk</string>
			<key>Name</key>
			<string>Macedonian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ms</string>
			<key>Name</key>
			<string>Malay</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>mt</string>
			<key>Name</key>
			<string>Maltese</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>no</string>
			<key>Name</key>
			<string>Norwegian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>fa</string>
			<key>Name</key>
			<string>Persian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>pl</string>
			<key>Name</key>
			<string>Polish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>pt</string>
			<key>Name</key>
			<string>Portuguese</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ro</string>
			<key>Name</key>
			<string>Romanian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>ru</string>
			<key>Name</key>
			<string>Russian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>es</string>
			<key>Name</key>
			<string>Spanish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sr</string>
			<key>Name</key>
			<string>Serbian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sk</string>
			<key>Name</key>
			<string>Slovak</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sl</string>
			<key>Name</key>
			<string>Slovenian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sw</string>
			<key>Name</key>
			<string>Swahili</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>sv</string>
			<key>Name</key>
			<string>Swedish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>th</string>
			<key>Name</key>
			<string>Thai</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>tr</string>
			<key>Name</key>
			<string>Turkish</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>uk</string>
			<key>Name</key>
			<string>Ukrainian</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>vi</string>
			<key>Name</key>
			<string>Vietnamese</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>cy</string>
			<key>Name</key>
			<string>Welsh</string>
		</dict>
		<dict>
			<key>Code</key>
			<string>yi</string>
			<key>Name</key>
			<string>Yiddish</string>
		</dict>
	</array></plist>